
/* selector de tipo */

body{
    background-color: black;
    color: white;
}

p{
    background-color: red;
    border: 3px solid violet;
}

/* selector de id */

#unico{
    background-color: rgb(158, 158, 178);
    color:blueviolet;
    font-weight: bold;
}

#otro-unico{
    background-color: green;
}


/* selector de clase */

.grupo{
    background-color: aqua /* !important */;
    color: black;
}

#particular{
    background-color: brown;
    color: white;
}