
/* selector de tipo */

body{
    background-color: rgb(53, 52, 52);
    color: white;
    margin: 0px;
}

p{
    background-color: red;
    border: 3px inset rgb(254, 255, 255);
    border-radius: 10px;
    /* margin: 30px; */
    /* margin: 30px 20px; */
    /* margin: 30px 20px 50px; */
    margin: 10px 20px 30px 40px;
    padding: 2px;
}

/* selector de id */

#unico{
    background-color: rgb(158, 158, 178);
    color:blueviolet;
    font-weight: bold;
}

#otro-unico{
    background-color: green;
}


/* selector de clase */

.grupo{
    background-color: aqua /* !important */;
    color: black;
}

#particular{
    background-color: brown;
    color: white;
}